
* {
  box-sizing: border-box;
}

img {
  max-width: 80%;
  vertical-align: top;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.gallery {
  display: flex;
  margin: 10px auto;
  max-width: 600px;
  position: relative;
  padding-top: 66.6666666667%;
  text-align: center;
}
@media screen and (min-width: 600px) {
  .gallery {
    padding-top: 410px;
	text-align: center;
  }
}
.gallery__img {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  text-align: center;
}
.gallery__thumb {
  padding-top: 6px;
  margin: 6px;
  display: block;
  text-align: center;
  width: 100px;
  height: 100px;
}
.gallery__selector {
  position: absolute;
  opacity: 0;
  visibility: hidden;
  text-align: center;
}
.gallery__selector:checked + .gallery__img {
  opacity: 1;
}
.gallery__selector:checked ~ .gallery__thumb > img {
  box-shadow: 0 0 0 3px #0be2f6;
}
